[Unit]
Description=PiDP10-KA10 panel server
Wants=rpcbind.service
After=rpcbind.service

[Install]
WantedBy=pidp10.service
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/opt/pidp10/bin/server10
WorkingDirectory=/opt/pidp10
User=pidp10
Group=pidp10
SupplementaryGroups=gpio
LimitRTPRIO=99:99
