[Unit]
Description=PiDP11/70 simulation (no panel)

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=screen -D -m -S pidp11 /opt/pidp11/bin/pidp.sh -x11
WorkingDirectory=/opt/pidp11
User=pidp11
Group=pidp11
