[Unit]
Description=PiDP10 Knight TV11 service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/opt/pidp10/bin/tv11 -s 4 -p 10011 localhost
WorkingDirectory=/opt/pidp10
User=pidp10
Group=pidp10
