[Unit]
Description=PiDP10 simulation (REALCONS panel)
Wants=rpcbind.service pidp10-server
After=rpcbind.service pidp10-server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=screen -D -m -S pidp10 /opt/pidp10/bin/pidp.sh -x10 -r
WorkingDirectory=/opt/pidp10
User=pidp10
Group=pidp10
