[Unit]
Description=PiDP10 simulation (no panel)

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=screen -D -m -S pidp10 /opt/pidp10/bin/pidp.sh -x10
WorkingDirectory=/opt/pidp10
User=pidp10
Group=pidp10
